
header{
	background-color: white;
	border-bottom-color:grey;
	border-bottom-style: solid;
	border-bottom-width:2px;
	font-family: "Georgia", Times, "Times New Roman", serif;

 }	

 body{
 	margin: 0;
 	background-image: url("../images/vintage-concrete.png");
 }

.box{
	color: white;
	background-color: #4aaaa5;
	margin-left: 80px;
	text-align: center;	
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	

}

.apcbox{
	color:#777777;
	float: right;
	word-spacing: 25px;
	margin-right: 80px;
	display: inline-block;
	
}


.contactbox{
	color:#777777;
	float: right;
	width: 1024px;
	
}

.container-one{
	margin-left: 75px;
	padding-left: 27px;
	padding-right: 27px;
	display: inline-block;
	background-color: white;
	margin-top: 40px;
}

.contactlinks {
	width: 670px;
	display: inline-block;
	background-color: white;
	margin-left: 80px;
	margin-top: 40px;
}

#bio-image{
	margin: 0 auto;
	width:250px;
	float:left;
}

#bio{
	line-height: 250%;
	width: 800px;
}

#about{
	color: #4aaaa5;
}

#connect-with-me{
	text-align: center;
	word-spacing: 10px;
	color: #4aaaa5;
	float: right;
	margin-right: 190px;
	background-color: white;
	width: 230px;
	height: 150px;
	display: inline-block;
	margin-top: 40px;
}

#contact{
	color: #4aaaa5;
}


#Portfolio{
	margin-left: 77px;
	padding-left: 88px;
	word-spacing: 40px;
	line-height: 60px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: x-small;
	background-color: white;
	width: 530px;
	display: inline-block;
	margin-top: 40px;
}


#portfolio2{
	font-size: x-large;
	color:#4aaaa5;
}

#hangman{
	position:relative;
}

#hangman2{
	position: absolute;
	top: 300px;
	left:165px;
	background-color: #4aaaa5;
	color: white;
	padding-left: 66.5px;
	padding-right: 66.5px;
}

#rpg{
	position:relative;
}

#rpg2{
	position: absolute;
	top: 300px;
	left:377px;
	background-color: #4aaaa5;
	margin-left: 30px;
	padding-left: 56.5px;
	padding-right: 56.5px;
	color: white;
	word-spacing: 10px;
}

#trivia{
	position:relative;
}

#trivia2{
	position: absolute; 
	top: 525px;
	left:165px;
	background-color: #4aaaa5;
	color: white;
	padding-left: 81px;
	padding-right: 81px;
}

#rutgers{
	position:relative;
}

#rutgers2{
	position: absolute;
	top: 525px;
	left:378px;
	background-color: #4aaaa5;
	margin-left: 30px;
	padding-left: 19px;
	padding-right: 19px;
	color: white;
	word-spacing: 10px;
	text-align: center;
}

#rock{
	position:relative;
}

#scissors{
	position: absolute; 
	top: 750px;
	left:164px;
	background-color: #4aaaa5;
	color: white;
	padding-left: 16px;
	padding-right: 16px;
	word-spacing: 10px;
	text-align: center;
}
footer{
	background-color: #666666;
	color: #ffffff;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 200px;
	border-top: 5px solid #4aaaa5 ;

 }

@media (max-width: 980px)
	{body{background-image: pink}
 
}
 
@media (max-width: 768px)
	{body{background-image: yellow}
}

@media (max-width: 640px)
	{body {background-image: orange}
}